# Ignore everything
*
# Allow directories to be traversed
!*/

# Explicitly ignore specific directories
build/
dist/
__pycache__/
.vscode/
venv/
env/
tests/
# Allow explicitly tracked files
!*.py
!.gitignore
